body {
  --dark: black;
}

.container {
  margin: 0 auto;
  text-align: center;
}
.page {
  min-height: 100vh;
  display: flex;
}
section {
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
nav > a {
  text-decoration: none;
  color: var(--dark);
}
.title {
  font-size: 3rem;
}

.title.main {
  font-size: 4rem;
  margin-bottom: 0;
}

#title > h2 {
  margin-top: 0;
}
